<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Document</title>
</head>
<body>
    <h2>Edit Your Chat <%=chat.id %></h2>
    <p>This Chat was sent <br> From: <b> <%=chat.from %> </b><br>
        To: <b><%=chat.to %></b> 
    </p>

    <form method="POST" action="/chats/<%= chat._id %>?_method=PUT">
        <textarea name="msg" id="" cols="30" rows="10"><%= chat.msg %></textarea>
        <br><br>
        <button class="btn">Edit</button>
    </form>
    
</body>
</html>